@model IEnumerable<BusinessL.Models.CourseModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.courseId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.courseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.classroomID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.courseId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.courseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.difficulty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.classroomID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
